.article {
    background-color: hsla(30, 100%, 86%, 0.6);
    position: relative;
    width: 300px;
    height: 300px; 
    overflow: hidden;
    margin: 20px;
    padding: 20px;
    border-radius: 8%;
    border: solid black 1px;
}

.tags {
    background-color: hsl(30, 100%, 86%);
    width: 100%;
    display: flex;
    list-style: none;
    justify-content: space-around;
    position:absolute; 
    bottom: 0;
    left: 0;
}