.article {
    background-color: hsla(30, 100%, 86%, 0.6);
    width: 300px;
    height: 300px; 
    overflow: hidden;
    margin: 20px;
    padding: 20px;
    border-radius: 8%;
    border: solid black 1px;
}