#sidebar {
    float: left;
    height: 80vh;
    width: 15vw;
    background-color: #A05100;
    text-align: left;
}

#menu {
    display: flex;
    flex-direction: column;
    color: black;
}

a:link, a:visited {
    margin: 1em;
    text-decoration: none;
    color: black;
}

a:link:active, a:visited:active {
    color: #eeeeee;
}

