#header {
    height : 20vh;
    background-image: url('../imgs/background.jpg');
    background-position: center;
    background-size: cover;
}

#overlay {
    background-color:hsla(30, 82%, 53%, .6);
    height: 100%;
}

h1 {
    color: #eeeeee;
    margin: 0;
    padding: 30px;
}